* {
    padding: 0;
    margin: 0;
    font-family: -apple-systrem, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

body {
    width: 100vw;
    height: 100vh;
}

#content > * {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content > * > h1, #content > * > p {
    margin: 0 20px 0 20px;
}

#navigation {
    width: calc(100% - 40px);
    display: flex;
    position: absolute;
    padding: 20px;
}

#navigation > * {
    background-color: transparent;
    border-style: none;
    flex: 1;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.form-info {
    flex: 1;
    display: flex;
    gap: 60px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    gap: 10px;
}

li > * {
    flex: 1;
}

#burger-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    padding: 30px;
    gap: 40px;
}

.burger {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burger > h2, .price {
    align-self: center;
}
